In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

# Loading the data
df = pd.read_csv('data_2018_2023_chl_sst_sswh.csv')

In [2]:
df.head()

,time,VHM0,VTM02,VTM10,VMDR,VPED,VTPK,VCMX,VMXL,VHM0_WW,...,nh4,chl,fe,no3,nppv,zeu,o2,spco2,dissic,ph
0,2018-10-01,1.27,6.56,9.429999,341.01000,335.0,12.330000,2.37,1.45,0.05,...,0.0,0.1,0.0008,0.0,1.0,100.6,214.0,43.98001,2.16,8.015600
1,2018-10-01,1.27,6.57,9.440000,340.72998,335.0,12.320000,2.36,1.45,0.03,...,0.0,0.1,0.0008,0.0,1.0,100.6,214.0,43.98001,2.16,8.011601
2,2018-10-01,1.26,6.58,9.450000,340.44000,335.0,12.309999,2.36,1.45,0.03,...,0.0,0.1,0.0008,0.0,1.0,100.6,214.0,43.98001,2.16,8.013599
3,2018-10-01,1.26,6.59,9.460000,340.16000,335.0,12.300000,2.36,1.44,0.03,...,0.0,0.1,0.0008,0.0,1.0,100.6,214.0,43.98001,2.16,8.011601
4,2018-10-01,1.26,6.60,9.469999,339.88000,335.0,12.300000,2.35,1.44,0.03,...,0.0,0.1,0.0008,0.0,1.0,100.6,214.0,43.98001,2.16,8.011601

In [3]:
# Getting statistics from the dataframe's numerical columns
df.describe()

,VHM0,VTM02,VTM10,VMDR,VPED,VTPK,VCMX,VMXL,VHM0_WW,VHM0_SW1,...,nh4,chl,fe,no3,nppv,zeu,o2,spco2,dissic,ph
count,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,...,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06,2.188000e+06
mean,2.533880e+00,6.730762e+00,9.226548e+00,2.263232e+02,2.285680e+02,1.103974e+01,4.735940e+00,2.993107e+00,1.041724e+00,1.809724e+00,...,1.739593e-02,8.039197e-02,6.004369e-04,8.920174e+00,1.241140e+00,9.075191e+01,2.131262e+02,4.106567e+01,2.199055e+00,7.994930e+00
std,1.260213e+00,1.470072e+00,1.797441e+00,1.243111e+02,1.240608e+02,2.760780e+00,2.318195e+00,1.537870e+00,1.117462e+00,9.843641e-01,...,5.471759e-02,1.038416e-01,1.197229e-04,1.028462e+01,2.859390e+00,1.400875e+01,2.631176e+01,2.707341e+00,3.831380e-02,6.188057e-02
min,5.700000e-01,3.430000e+00,5.170000e+00,0.000000e+00,5.000305e-02,3.810000e+00,1.050000e+00,6.400000e-01,0.000000e+00,1.800000e-01,...,0.000000e+00,0.000000e+00,1.000000e-04,0.000000e+00,0.000000e+00,4.080000e+01,1.300000e+02,3.556000e+01,2.150000e+00,7.811600e+00
25%,1.630000e+00,5.610000e+00,7.880000e+00,8.095001e+01,1.050000e+02,8.910000e+00,3.080000e+00,1.900000e+00,2.800000e-01,1.090000e+00,...,0.000000e+00,0.000000e+00,5.000000e-04,0.000000e+00,0.000000e+00,8.390000e+01,2.020000e+02,3.842001e+01,2.170000e+00,7.941600e+00
50%,2.200000e+00,6.540000e+00,9.020000e+00,2.827700e+02,2.901300e+02,1.093000e+01,4.130000e+00,2.580000e+00,7.100000e-01,1.570000e+00,...,0.000000e+00,6.000000e-02,6.000000e-04,1.500000e+00,0.000000e+00,9.200000e+01,2.220000e+02,4.110001e+01,2.180000e+00,8.011601e+00
75%,3.100000e+00,7.660000e+00,1.038000e+01,3.207700e+02,3.250000e+02,1.302000e+01,5.790000e+00,3.670000e+00,1.400000e+00,2.290000e+00,...,0.000000e+00,9.999999e-02,7.000000e-04,2.179999e+01,1.000000e+00,1.024000e+02,2.310000e+02,4.346002e+01,2.250000e+00,8.047600e+00
max,1.109000e+01,1.407000e+01,1.668000e+01,3.600000e+02,3.599200e+02,2.102000e+01,2.008000e+01,1.350000e+01,1.037000e+01,7.620000e+00,...,6.000000e-01,8.400000e-01,9.999999e-04,2.839999e+01,4.100000e+01,1.263000e+02,2.510000e+02,4.716000e+01,2.270000e+00,8.093600e+00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188000 entries, 0 to 2187999
Data columns (total 42 columns):
 #   Column            Dtype
---  ------            -----
 0   time              object
 1   VHM0              float64
 2   VTM02             float64
 3   VTM10             float64
 4   VMDR              float64
 5   VPED              float64
 6   VTPK              float64
 7   VCMX              float64
 8   VMXL              float64
 9   VHM0_WW           float64
 10  VHM0_SW1          float64
 11  VHM0_SW2          float64
 12  VMDR_WW           float64
 13  VMDR_SW1          float64
 14  VMDR_SW2          float64
 15  VTM01_WW          float64
 16  VTM01_SW1         float64
 17  VTM01_SW2         float64
 18  VSDX              float64
 19  VSDY              float64
 20  time.1            object
 21  analysed_sst      float64
 22  analysis_error    float64
 23  mask              float64
 24  sea_ice_fraction  float64
 25  time.2            object
 26  longitude         float64
 27  latitude          float64
 28  depth             float64
 29  po4               float64
 30  phyc              float64
 31  si                float64
 32  nh4               float64
 33  chl               float64
 34  fe                float64
 35  no3               float64
 36  nppv              float64
 37  zeu               float64
 38  o2                float64
 39  spco2             float64
 40  dissic            float64
 41  ph                float64
dtypes: float64(39), object(3)
memory usage: 701.1+ MB

# Convert temperature values from Kelvin to Celsius

In [5]:
df["analysed_sst"] = df["analysed_sst"] - 273.15
df["analysis_error"] = df["analysis_error"] - 273.15

# Data Types

In [6]:
# Checking the features' data types
df.dtypes

time                 object
VHM0                float64
VTM02               float64
VTM10               float64
VMDR                float64
VPED                float64
VTPK                float64
VCMX                float64
VMXL                float64
VHM0_WW             float64
VHM0_SW1            float64
VHM0_SW2            float64
VMDR_WW             float64
VMDR_SW1            float64
VMDR_SW2            float64
VTM01_WW            float64
VTM01_SW1           float64
VTM01_SW2           float64
VSDX                float64
VSDY                float64
time.1               object
analysed_sst        float64
analysis_error      float64
mask                float64
sea_ice_fraction    float64
time.2               object
longitude           float64
latitude            float64
depth               float64
po4                 float64
phyc                float64
si                  float64
nh4                 float64
chl                 float64
fe                  float64
no3                 float64
nppv                float64
zeu                 float64
o2                  float64
spco2               float64
dissic              float64
ph                  float64
dtype: object

# Missing Values

In [7]:
# Checking for missing values
df.isnull().sum()

time                0
VHM0                0
VTM02               0
VTM10               0
VMDR                0
VPED                0
VTPK                0
VCMX                0
VMXL                0
VHM0_WW             0
VHM0_SW1            0
VHM0_SW2            0
VMDR_WW             0
VMDR_SW1            0
VMDR_SW2            0
VTM01_WW            0
VTM01_SW1           0
VTM01_SW2           0
VSDX                0
VSDY                0
time.1              0
analysed_sst        0
analysis_error      0
mask                0
sea_ice_fraction    0
time.2              0
longitude           0
latitude            0
depth               0
po4                 0
phyc                0
si                  0
nh4                 0
chl                 0
fe                  0
no3                 0
nppv                0
zeu                 0
o2                  0
spco2               0
dissic              0
ph                  0
dtype: int64

In [8]:
# Checking for any categorical features that might need encoding
categorical_features = df.select_dtypes(include=['object']).columns
print("Categorical Features for Potential Encoding:", list(categorical_features))

Categorical Features for Potential Encoding: ['time', 'time.1', 'time.2']

# Data Cleaning

In [9]:
# Checking for duplicates
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [time, VHM0, VTM02, VTM10, VMDR, VPED, VTPK, VCMX, VMXL, VHM0_WW, VHM0_SW1, VHM0_SW2, VMDR_WW, VMDR_SW1, VMDR_SW2, VTM01_WW, VTM01_SW1, VTM01_SW2, VSDX, VSDY, time.1, analysed_sst, analysis_error, mask, sea_ice_fraction, time.2, longitude, latitude, depth, po4, phyc, si, nh4, chl, fe, no3, nppv, zeu, o2, spco2, dissic, ph]
Index: []

[0 rows x 42 columns]

In [10]:
# Converting 'time' to datetime
df['time'] = pd.to_datetime(df['time'], errors='coerce')

In [11]:
df.dtypes

time                datetime64[ns]
VHM0                       float64
VTM02                      float64
VTM10                      float64
VMDR                       float64
VPED                       float64
VTPK                       float64
VCMX                       float64
VMXL                       float64
VHM0_WW                    float64
VHM0_SW1                   float64
VHM0_SW2                   float64
VMDR_WW                    float64
VMDR_SW1                   float64
VMDR_SW2                   float64
VTM01_WW                   float64
VTM01_SW1                  float64
VTM01_SW2                  float64
VSDX                       float64
VSDY                       float64
time.1                      object
analysed_sst               float64
analysis_error             float64
mask                       float64
sea_ice_fraction           float64
time.2                      object
longitude                  float64
latitude                   float64
depth                      float64
po4                        float64
phyc                       float64
si                         float64
nh4                        float64
chl                        float64
fe                         float64
no3                        float64
nppv                       float64
zeu                        float64
o2                         float64
spco2                      float64
dissic                     float64
ph                         float64
dtype: object

In [12]:
# Dropping irrelevant columns
df.drop(columns=['time.1'], inplace=True)
df.drop(columns=['time.2'], inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188000 entries, 0 to 2187999
Data columns (total 40 columns):
 #   Column            Dtype
---  ------            -----
 0   time              datetime64[ns]
 1   VHM0              float64
 2   VTM02             float64
 3   VTM10             float64
 4   VMDR              float64
 5   VPED              float64
 6   VTPK              float64
 7   VCMX              float64
 8   VMXL              float64
 9   VHM0_WW           float64
 10  VHM0_SW1          float64
 11  VHM0_SW2          float64
 12  VMDR_WW           float64
 13  VMDR_SW1          float64
 14  VMDR_SW2          float64
 15  VTM01_WW          float64
 16  VTM01_SW1         float64
 17  VTM01_SW2         float64
 18  VSDX              float64
 19  VSDY              float64
 20  analysed_sst      float64
 21  analysis_error    float64
 22  mask              float64
 23  sea_ice_fraction  float64
 24  longitude         float64
 25  latitude          float64
 26  depth             float64
 27  po4               float64
 28  phyc              float64
 29  si                float64
 30  nh4               float64
 31  chl               float64
 32  fe                float64
 33  no3               float64
 34  nppv              float64
 35  zeu               float64
 36  o2                float64
 37  spco2             float64
 38  dissic            float64
 39  ph                float64
dtypes: datetime64[ns](1), float64(39)
memory usage: 667.7 MB

In [14]:
# Converting the clean dataframe to a new CSV
df.to_csv('data_2018_2023_chl_sst_sswh_clean.csv', index=False)